#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea-input {
  width: 100%;
  margin-bottom: 10px;
}

.button-container {
  margin-bottom: 10px;
}

button {
  width: 100px;
  margin: 5px;
}

.content-container li {
  list-style: none;
  margin-bottom: 10px;
  text-align: left;
  border: solid 1px;
  border-radius: 10px;
  padding: 0 10px;
  background-color: #242424;
}

.item-container {
  padding-left: 10px;
}

.item-container li {
  list-style: none;
  margin-bottom: 10px;
  text-align: left;
  border: none;
  background-color: #3b3b3b;
}

.inline-button {
  padding: 0.1em 0.3em;
  width: auto;
  font-size: 0.7em;
  border-radius: 0.5em;
}

.inline-button.delete {
  color: #b60000;
}

.inline-button.add,
.inline-button.done {
  color: green;
}

.item-title {
  margin-bottom: 0;
}

.item-element.description {
  font-weight: bold;
}

.comment-new {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-new input {
  width: 80%;
  margin-left: 5px;
}

.item-new-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.item-new-form p {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.item-new-form label {
  width: 90%;
  margin-left: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.item-new-form input {
  margin-left: 5px;
  width: 100%;
}

.item-new-form .item-new-title {
  font-size: 1.5em;
}

.item-new-form .item-new-description {
  font-weight: bold;
}

.item-new-form button {
  margin: 20px auto 0 auto;
}